<!-- Start Account Register Area -->
<div class="account-login section">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
              <div class="register-form">
                  <div class="title">
                      <h3>اضافة كتاب</h3>
                  </div>
                  <form class="row" [formGroup]="addBookForm" method="post">
                      <div class="col-sm-12">
                        <div class="form-group" >
                            <label for="reg-title">اسم الكتاب</label>
                            <input class="form-control" formControlName="title" type="text" id="reg-title" required>
                        </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-isbn">الترقيم الدولي</label>
                              <input class="form-control" formControlName="isbn" type="text" id="reg-isbn" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-des">الوصف</label>
                              <input class="form-control" formControlName="description" type="text" id="reg-des" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-pages">عدد الصفحات</label>
                              <input class="form-control" formControlName="pages" type="email" id="reg-pages" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-lang">اللغة</label>
                              <input class="form-control" formControlName="language" type="text" id="reg-lang" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                            <label for="reg-price">السعر</label>
                            <input class="form-control" formControlName="price" type="text" id="reg-price" required>
                        </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="reg-pdate">تاريخ النشر</label>
                              <input class="form-control" formControlName="publicationDate" type="text" id="reg-pdate" required>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="reg-pass-confirm">تأكيد الرقم السري</label>
                              <input class="form-control" formControlName="confirmPassword" type="password" id="reg-pass-confirm" required>
                          </div>
                      </div>
                      <div class="button">
                          <button class="btn" (click)="onSubmit()" type="submit">سجل</button>
                      </div>
                      <p class="outer-link">لدي حساب بالفعل؟ <a routerLink="/login">تسجيل الدخول</a>
                      </p>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Account Register Area -->
