<!-- Start Account Register Area -->
<div class="account-login section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10 offset-md-1 col-12">
              <div class="register-form">
                  <div class="title">
                      <h3>اضافة كتاب</h3>
                  </div>
                  <form class="row" [formGroup]="addBookForm" method="post">
                      <div class="col-sm-12">
                        <div class="form-group" >
                            <label for="reg-title">اسم الكتاب</label>
                            <input class="form-control" formControlName="title" type="text" id="reg-title" required>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group" >
                            <label for="reg-genre">التصنيف</label>
                            <select class="form-control" formControlName="genreId" id="reg-genre" required>
                              <option *ngFor="let genre of genres" value="{{ genre.id }}">{{ genre.name }}</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group" >
                            <label for="reg-author">المؤلف</label>
                            <select class="form-control" formControlName="authorId" id="reg-author" required>
                              <option *ngFor="let author of authors" value="{{ author.id }}">{{ author.name }}</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-isbn">الترقيم الدولي</label>
                              <input class="form-control" formControlName="isbn" type="text" id="reg-isbn" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-pages">عدد الصفحات</label>
                              <input class="form-control" formControlName="pages" type="number" id="reg-pages" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-lang">اللغة</label>
                              <input class="form-control" formControlName="language" type="text" id="reg-lang" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                            <label for="reg-price">السعر</label>
                            <input class="form-control" formControlName="price" type="number" id="reg-price" required>
                        </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-pdate">تاريخ النشر</label>
                              <input class="form-control" formControlName="publicationDate" type="number" id="reg-pdate" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-textarea">
                            <label for="reg-des">الوصف</label>
                            <textarea class="form-control mb-3" rows="5" cols="50" formControlName="description" type="text" id="reg-des" required></textarea>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-textarea">
                          <label for="reg-img">صورة الكتاب</label>
                          <input class="form-control" formControlName="image" type="file" id="reg-img" required>
                        </div>
                    </div>
                      <div class="button">
                          <button class="btn" (click)="onSubmit()" type="submit">اضافة</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Account Register Area -->
