<!-- Start Account Register Area -->
<div class="account-login section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10 offset-md-1 col-12">
              <div class="register-form">
                  <div class="title">
                      <h3>ليس لديك حساب؟ سجل</h3>
                  </div>
                  <form class="row" [formGroup]="registerForm" method="post">
                      <div class="col-sm-12">
                        <div class="form-group" >
                            <label for="reg-un">اسم المستخدم</label>
                            <input class="form-control" formControlName="username" type="text" id="reg-un" required>
                        </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-fn">الاسم الأول</label>
                              <input class="form-control" formControlName="firstname" type="text" id="reg-fn" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-ln">الأسم الأخير</label>
                              <input class="form-control" formControlName="lastname" type="text" id="reg-ln" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-email">البريد الألكتروني</label>
                              <input class="form-control" formControlName="email" type="email" id="reg-email" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="reg-phone">رقم الموبايل</label>
                              <input class="form-control" formControlName="phoneNumber" type="text" id="reg-phone" required>
                          </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                            <label for="reg-phone">تاريخ الميلاد</label>
                            <input class="form-control" formControlName="dateOfbirth" type="text" id="reg-phone" required>
                        </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="reg-pass">الرقم السري</label>
                              <input class="form-control" formControlName="password" type="password" id="reg-pass" required>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="reg-pass-confirm">تأكيد الرقم السري</label>
                              <input class="form-control" formControlName="confirmPassword" type="password" id="reg-pass-confirm" required>
                          </div>
                      </div>
                      <div class="button">
                          <button class="btn" (click)="onSubmit()" type="submit">سجل</button>
                      </div>
                      <p class="outer-link">لدي حساب بالفعل؟ <a routerLink="/login">تسجيل الدخول</a>
                      </p>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Account Register Area -->
